* {
   margin: 0;
   padding: 0;
   box-sizing: border-box
}

body {
   background-color: #0a3d62;
   color: #fff;
   transition: .5s
}

.title,
.sub-title {
   margin: 25px auto;
   letter-spacing: 1.1px;
   text-align: center
}

.title h1,
.sub-title h3 {
   text-align: center
}

.underline {
   margin: -15px auto 0;
   width: 200px;
   height: 1.5px;
   background-color: #78e08f
}

.cards {
   margin: 25px auto;
   width: 80vw;
   max-width: 1200px;
   flex-wrap: wrap;
   display: flex
}

@keyframes bounceEffect {
   0% {
      transform: scale(1.1);
      opacity: 0
   }

   50% {
      transform: scale(.8);
      opacity: .5
   }

   75% {
      transform: scale(1.07);
      opacity: .75
   }

   100% {
      transform: scale(1);
      opacity: 1
   }
}

.card {
   height: 410px;
   width: 330px;
   margin: 50px auto;
   padding: 15px 25px;
   animation: 2s ease-in-out bounceEffect;
   box-shadow: 0 20px 25px 5px #000000cc, 0 8px 10px -2px #000000cc;
   border-radius: 15px;
   text-align: center;
   position: relative;
}

.card:hover {
   box-shadow: inset -5px -5px 20px #000, inset 5px 10px 20px #000
}

.container-img {
   overflow: hidden;
   width: 100%
}

img {
   width: 200px;
   transition: .7s;
   border-radius: 15px;
   height: auto
}

.container-img img:hover {
   transform: scale(1.1)
}

.bio {
   /* height: 100%; */
   align-items: center;
}

.bio p {
   margin-top: 50px;
   line-height: 20px;
   text-align: left;
}
.profil {
   height: 100%;
   margin: 0 auto;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   display: flex
}

.description {
   margin: 0 auto;
   padding: 5px
}

.para p,
.title,
.sub-title,
p,
span {
   letter-spacing: 1.1px
}

.para p {
   font-weight: bold
}

ul {
   margin: 25px auto 0;
   flex-wrap: wrap;
   row-gap: 15px;
   display: flex
}

li {
   width: 100%;
   list-style: none;
   align-items: center;
   justify-content: space-around;
   display: flex;
   text-align: center
}

span {
   margin-right: 7px
}

a {
   text-decoration: none;
   color: #0a314d
}

.btn-link {
   cursor: pointer;
   background-color: #fad390;
   border: transparent;
   border-radius: 5px;
   letter-spacing: 1.2px;
   padding: .375rem .75rem;
   transition: .2s ease-in-out;
   display: inline-block;
   text-transform: capitalize
}

.btn-link:hover {
   scale: .99;
   background-color: #f8c291;
   box-shadow: inset 1px 2px 1px #c5a689, -2px -2px 1px
}

footer {
   margin: 150px auto 0;
   background-color: #0c2461;
   padding: 15px 0;
   line-height: 20px;
   box-shadow: 2px 2px 8px rgb(0 0 0 / .8);
   text-align: center
}

.switch-mode {
   position: absolute;
   left: 30px;
   top: 30px;
   transform: translate(-50%, -50%);
   width: 30px;
   border-radius: 50%;
   display: flex;
   background-color: snow;
   cursor: pointer
}

body.light-mode {
   background-color: #dfdcdc;
   color: #000
}

.light-mode a {
   color: #000
}

.light-mode .btn-link {
   background-color: #60a3bc
}

.light-mode .btn-link:hover {
   background-color: #c6d6f3;
   box-shadow: inset 1px 2px 1px #c3d3c7, -2px -2px 1px
}

.light-mode footer {
   color: white
}

.light-mode .switch-mode {
   background-color: #5a5454
}
.btn-bio {
   padding: 4px 8px;
   font-size: 15px;
   font-weight: bold;
   position: absolute;
   left: 90%;
   top: 5%;
   transform: translate(-50%,-50%);
}